---
micronaut:
  application:
    name: diecast-collector-api

---
datasources.default: {}
---
datasources:
  default:
    url: ${JDBC_URL:`jdbc:postgresql://localhost:5432/diecast_collector_dev`}
    driverClassName: ${JDBC_DRIVER:org.postgresql.Driver}
    username: ${JDBC_USER:diecast_collector}
    password: ${JDBC_PASSWORD:diecast_collector}
jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        show_sql: true